
//------------
//-  layout  -
//------------
.branding {
    @include media-object-container;
    margin-bottom:0;
    .site-logo {
        @include media-object-section;
    }
    .site-name {
        @include media-object-section;
    }
    @include breakpoint( medium down ) {
        display: flex;
        justify-content: center;
        margin-bottom:$global-margin;
    }

}

//-----------
//-  style  -
//-----------

.branding {
    .site-logo {
        img {
            width: 138px;
        }
    }
    .site-name {
        //padding-top: $global-padding;
        width: 20rem;
        a {
            font-family: $header-font-family;
            color: $white;
            font-size: rem-calc(24);
        }
    }
    @include breakpoint(medium) {

        .site-logo {
            img {
                width: 200px;
            }
        }
        .site-name {
            padding-top: $global-padding;
            width: 20rem;
            a {
                font-family: $header-font-family;
                color: $white;
                font-size: 2.2rem;
            }
        }

    }
}
