
//------------
//-  layout  -
//------------
#block-biomeds-branding {
  @include media-object-container;
  .site-logo {
    @include media-object-section;
  }
  .site-name {
    @include media-object-section;
  }

}

//-----------
//-  style  -
//-----------

#block-biomeds-branding {
  .site-logo {
    img {
      width: 200px;
    }
  }
  .site-name {
    padding-top: $global-padding;
    width: 20rem;
    a {
      color: $white;
      font-size: 2.2rem;
    }
  }

}
