// Styling for content elements.

.content__container,
//.footer__container
.content__footer
{
@include grid-row;
}
.content__main,
.content__sidebar
{
  padding-top: $global-padding*2;
  padding-bottom: $global-padding*4;
}



.content__main .thumbnail img {
  max-width: rem-calc(350);
  
}

.content__main img {
 @extend .thumbnail; 
  
}
.menu--main {
    //display:none;

}

.search-page-form {
        display:none;
}
#block-biomeds-page-title {
    h1 {
        margin-bottom: $global-margin;
    }
}
