// Styling for content elements.

.content__container,
//.footer__container
.content__footer
{
@include grid-row;
}
.content__main,
.content__sidebar
{
  padding-top: 1rem;
  padding-bottom: 1rem;
}



.content__main .thumbnail img {
  max-width: rem-calc(350);
  
}

.content__main img {
 @extend .thumbnail; 
  
}
.menu--main {
    //display:none;

}
