
header {
    background: #0C84EC;
}
.region-header {
    padding-top: $global-padding;
    padding-bottom: $global-padding;
    //> * {
        //outline: 1px solid #fff;
    //}
    .block-search {
        @include breakpoint( medium down ) {
            display: flex;
            justify-content: center;
        }
    }
    @include breakpoint(large) {
        @include flex-grid-row;
        //@extend .align-middle;
        align-items: center;
        justify-content: space-between;
        .branding {
            @include flex-grid-column(shrink);
        }
        .block-search {
            @include flex-grid-column(shrink);
            .menu {
                float: right;
            }
        }
    }
}

//.region-header {
//@include top-bar-container;
//background-color: #0C84EC !important;
//ul {
//background-color: #0C84EC !important;
  //}
  //.branding {
      //@extend .top-bar-left;
  //}

  //.block-search {
      //@extend .top-bar-right;
  //}
  //input {
      //margin-right:0;
  //}
  //}
  //.region-header {
      //@include grid-row;
      //display: flex;
      //justify-content: space-between;
      //}
      //.branding {
          //float:left;

          //flex: 4;
          //}

          //.block-search {
              //align-self: center;
              //float: right;
              //flex: 1;
              //.menu {
              //float: right;
          //}
      //}
