//[data-responsive-menu] ul {
      //display: none;

//}
//.menu--main {
    //display:none;
//}
// Styling for the header component.
.upei-logo { 
  svg {
    width: 100px;
    height: auto;
  }
}
.menu-bar__wrapper {
  background: $black;
  padding: 0;

  .title-bar {
    justify-content: flex-start;
  }
}
.topnav {
  &__wrapper { background: $black; }
  &__container { @include grid-row; }



  @include top-bar-container;
  $menu_height: 55px;
  padding-top: 0;
  padding-bottom: 0;

  .menu a {
    color: $white;
    height: $menu_height;
    line-height: $menu_height !important;
    padding-top: 0;
    padding-bottom: 0;
  }

  .menu.dropdown {
    border-left: 1px solid lighten( $black, 10% );
    a {
      border-right: 1px solid lighten( $black, 10% );
      &:hover {
        background: lighten( $black, 10% );
      }
    }
  } 
  .is-dropdown-submenu {
    border-top: 0 !important;
    border-left: 1px solid $black;
  }
  .is-active {
  background: $primary-color;
  }
}

.top-bar-title {
  padding-top: 0;
  padding-bottom: 0;
}
.search__wrapper {
  display: none  !important;
}
